<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#"><b>Stock Pulse</b></a>
        <!-- Navbar content here -->
    </nav>

    <!-- Inside the "Change Password" card body -->
    <!-- change_pass.html -->
    <div class="container mt-5">
        <form method="post" action="{% url 'change_password' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </div>


    <!-- Footer -->
    <footer class="footer mt-auto py-3 bg-primary text-white fixed-bottom">
        <div class="container text-center">
            <span>© 2023 StockPulse</span>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>